.clearing { clear: both; display: table; }

div.payment_module {
	padding-bottom: 20px;
	text-transform: none;
}
.smartcoin_title {
}

.smartcoin_title img {
	float: none;
	margin-right: 8px;
	margin-top: -2px;
	vertical-align: middle;
}
#smartcoin-payment-form {
	margin-top: 23px;
}
#smartcoin-payment-form label {
	display: inline-block;
	margin-bottom: 4px;
	text-transform: uppercase;
}
#smartcoin-payment-form label.lowercase {
	text-transform: none;
}
#smartcoin-payment-form input[type="text"], #smartcoin-payment-form select {
	border: #CCCCCC solid 1px;
	margin-bottom: 15px;
	padding: 3px;
}
#smartcoin-payment-form input[type="checkbox"] {
	margin-bottom: 15px;
}
#smartcoin-payment-form input.smartcoin-card-name {
	width: 280px;
}
#smartcoin-payment-form input.smartcoin-card-number {
	width: 280px;
}
#smartcoin-payment-form input.smartcoin-card-cvc {
}
#smartcoin-payment-form a {
	display: inline;
	position: relative;
}
a.smartcoin-card-cvc-info {
	font-style: italic;
}
a.smartcoin-card-cvc-info div.cvc-info {
	background-color: #BDE5F8;
	border: #00529B solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #00529B!important;
	display: none;
	font-style: normal;
	padding: 8px;
	position: absolute;
	right: -320px;
	top: -10px;
	text-decoration: none;
	width: 300px;
	z-index: 100;
}
a.smartcoin-card-cvc-info:hover div.cvc-info {
	display: block;
}
div.cvc-info:hover {
	cursor: default;
}
#smartcoin-payment-form img.cc-icon {
	border: #CCCCCC solid 1px;
	margin-right: 5px;
	float: none;
}

.block-left {
	display: inline-block;
	float: left;
	margin-right: 20px;
	margin-bottom: -9px;
}

.block-bottom {
	margin-right: 53px;
}

img.disable {
	opacity: 0.3;
	display: none;
}
img.enable {
	opacity: 1;
	 display: inline-block;}
#smartcoin-payment-form-cc .smartcoin-submit-button-cc {
	margin-left: 5px;
}
#smartcoin-payment-form-cc a {
	display: inline;
	font-size: 11px;
	text-decoration: underline;
}
#smartcoin-payment-form .smartcoin-submit-button, #smartcoin-payment-form-cc .smartcoin-submit-button-cc {
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: none;
	font-family: inherit;
	font-size: 12px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	text-indent: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	padding: 12px 21px;
	margin: 5px 0px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

#smartcoin-payment-form .smartcoin-submit-button:hover, #smartcoin-payment-form-cc .smartcoin-submit-button-cc:hover {
	text-decoration:none;
	background-position: left -50px
}

.bt-blue { background: #45B1E8; color: #fff; }
.bt-blue:hover,
.bt-blue:focus { background: #328AC3; color: #FFF; }

img.paymentCards {
	display: inline-block;
	margin: 0;
}

div.smartcoin-payment-errors {
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #900;
	font-size: 13px;
	background: #FCC;
	display: none;
}

div.smartcoin-card-deleted {
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #ade27d;
	font-size: 13px;
	background: #d3ffab;
	display: none;
	text-transform: none;
}

#smartcoin-translations, #smartcoin-ajax-loader {
	display: none;
}
#smartcoin_save_token {
	vertical-align: top;
}
a#smartcoin_error {
	display: none;
}
#smartcoin-payment-form input, #smartcoin-payment-form select {
	margin-left: 0;
}
#smartcoin-replace-card, #smartcoin-delete-card {
	border: none;
	padding: 0;
	cursor: pointer;
}

.smartcoin-payment-16 {
	display: block;
	border: 1px solid #d6d4d4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	line-height: 23px;
	color: #333;

	padding: 33px 40px 34px 99px;
	letter-spacing: -1px;
	position: relative;
}

.smartcoin-payment-15 {
	border: 1px solid #595A5E;
	padding: 0.6em;
	margin-left: 0.7em;
}
#uniform-smartcoin_save_token {
	display: inline-block;
}

select.smartcoin-select {
	width: initial;
	display: initial;
	background-color: #e2e1e1;
	-webkit-appearance: menulist;
}

div.smartcoin-card-wrapper {
	float: left;
	margin: 30px 0 0 40px;
}
