div.payment_module {
	padding-bottom: 20px;
	text-transform: none;
}

.smartcoin_title img {
	float: none;
	margin-right: 8px;
	margin-top: -2px;
	vertical-align: middle;
}

#smartcoin-payment-form {}

#smartcoin-payment-form label {
	display: inline-block;
	margin-bottom: 4px;
	text-transform: uppercase;
}

#smartcoin-payment-form label.lowercase {
	text-transform: none;
}

#smartcoin-payment-form input[type="text"], #smartcoin-payment-form select {
	border: #CCCCCC solid 1px;
	margin-bottom: 15px;
	padding: 3px;
}

#smartcoin-payment-form input[type="checkbox"] {
	margin-bottom: 15px;
}

#smartcoin-payment-form input.smartcoin-card-number {
	width: 210px;
}

#smartcoin-payment-form input.smartcoin-card-cvc {  }

#smartcoin-payment-form a {
	display: inline;
	position: relative;
}

a.smartcoin-card-cvc-info {
	font-style: italic;
}

a.smartcoin-card-cvc-info div.cvc-info {
	background-color: #BDE5F8;
	border: #00529B solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #00529B!important;
	display: none;
	font-style: normal;
	padding: 8px;
	position: absolute;
	right: -320px;
	 top: -10px;
	text-decoration: none;
	width: 300px;
}

a.smartcoin-card-cvc-info:hover div.cvc-info {
	display: block;
}

div.cvc-info:hover {
	cursor: default;
}

#smartcoin-payment-form img.cc-icon {
	border: #CCCCCC solid 1px;
	margin-right: 5px;
}

.block-left {
	display: inline-block;
	float: left;
	margin-right: 20px;
}

img.disable {
	opacity: 0.3;
	display: none;
 }

img.enable {
	opacity: 1;
	display: inline-block;
}

#smartcoin-payment-form-cc .smartcoin-submit-button-cc {
	margin-left: 5px;
}

#smartcoin-payment-form-cc a {
	display: inline;
	font-size: 11px;
	text-decoration: underline;
}

#smartcoin-payment-form .smartcoin-submit-button, #smartcoin-payment-form-cc .smartcoin-submit-button-cc {
	position:relative;
	display:inline-block;
	padding:5px 7px;
	border:1px solid #cc9900;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-weight:bold;
	color:#000;
	background:#f4b61b;
	cursor: pointer;
}

#smartcoin-payment-form .smartcoin-submit-button:hover, #smartcoin-payment-form-cc .smartcoin-submit-button-cc:hover {
	text-decoration:none;
	background-position: left -50px
}

div.smartcoin-payment-errors {
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #900;
	font-size: 13px;
	background: #FCC;
	display: none;
}

div.smartcoin-card-deleted {
	margin: 0 0 10px 0;ding: 10px;
	border: 1px solid #ade27d;
	otsze: 13px;
	background: #d3ffab;
	display: none;
	text-transform: none;
}

#smartcoin-translations, #smartcoin-ajax-loader {
	display: none;
}

#smartcoin_save_token {
	vertical-align: top;
}

a#smartcoin_error {
	display: none;
}

#smartcoin-payment-form input, #smartcoin-payment-form select {
	margin-left: 0;
}

#smartcoin-replace-card, #smartcoin-delete-card {
	border: none;
	padding: 0;
	cursor: pointer;
}

.smartcoin-payment-16 {
	display: block;
	border: 1px solid #d6d4d4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	lin-higt: 23px;
	color: #333;

	padding 33x 40px 34px 99px;
	letter-spacing: -1px;
	position: relative;
}

.smartcoin-payment-15 {
	border: 1px solid #595A5E;
	padding: 0.6m;
	margin-left: 0.7em;
}
#uniform-smartcoin_save_token {
	display: inline-block;
}
